@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: var(--font-inter);
  --font-sora: var(--font-sora);
  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), Arial, sans-serif;
}

.font-sora {
  font-family: var(--font-sora), Arial, sans-serif;
}

.font-orbitron {
  font-family: var(--font-orbitron), Arial, sans-serif;
}

.font-rajdhani {
  font-family: var(--font-rajdhani), Arial, sans-serif;
}



